:root {
  /* Colours */
  --color-text: #fff;
  --color-text2: #647BFF;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #0D0F26;

  /* Fonts */

  --font-robot: "Roboto";

}